## Lab 3: pandas

#### Introduction

We will examine a dataset containing characteristics of lego sets manufactured between 1961 and 2019 from the BRICKSET website. Variables in the dataset are described below.

| VARIABLE             |      DESCRIPTION             |
|:----------|:-------------|
| ID |  set id |
| Name |    name of set   |
| Themegroup | themegroup of set |
| Theme |  theme of set |
| Subtheme |    subtheme of set   |
| Year | year released |
| Pieces |  number of pieces |
| Minifig |    number of minifigs   |
| Package | type of packaging |
| Retail_Price |  recommended retail pri



Load pandas to read in the data and save it as dataframe named lego.

In [9]:
import pandas as pd

lego = pd.read_csv('lego.csv')
print(lego.head())
lego.loc[lego.retail_price == 0, :].head(7)

            id                   name     themegroup           theme  \
0  100STORES-1  100 Stores minifigure  Miscellaneous     Promotional
1      10264-1          Corner Garage   Model making  Creator Expert
2      10265-1           Ford Mustang   Model making  Creator Expert
3      10766-1             Woody & RC       Licensed       Toy Story
4      10769-1            RV Vacation       Licensed       Toy Story

            subtheme    year  pieces  minifigs       package  retail_price
0  LEGO brand stores  2019.0     NaN         0  Blister pack           NaN
1  Modular Buildings  2019.0  2569.0         6           Box        199.99
2           Vehicles  2019.0  1471.0         0           Box        149.99
3        Toy Story 4  2019.0    69.0         0           Box          9.99
4        Toy Story 4  2019.0   178.0         0           Box         34.99

,id,name,themegroup,theme,subtheme,year,pieces,minifigs,package,retail_price
2266,40135-1,Angler Fish,Miscellaneous,Promotional,Monthly Mini Model Build,2015.0,29.0,0,Polybag,0.0
2269,40138-1,Christmas Train,Miscellaneous,Seasonal,Christmas,2015.0,233.0,0,Box,0.0
2882,40094-1,Snowplough,Miscellaneous,Promotional,Monthly Mini Model Build,2014.0,46.0,0,Polybag,0.0
2883,40095-1,Micro Manager,Miscellaneous,Promotional,Monthly Mini Model Build,2014.0,50.0,0,NaN,0.0
2884,40096-1,Spring Tree,Miscellaneous,Promotional,Monthly Mini Model Build,2014.0,62.0,0,Polybag,0.0
2885,40097-1,Helicopter,Miscellaneous,Promotional,Monthly Mini Model Build,2014.0,44.0,0,Polybag,0.0
2886,40098-1,Dragon,Miscellaneous,Promotional,Monthly Mini Model Build,2014.0,43.0,0,Polybag,0.0

#### Question 1:
Some sets have missing information for retail_price or pieces or both. This could be because the sets are free (giveaways), they aren’t traditional lego sets (comic books, etc) or just because the information is missing. Filter the lego dataset based on the specifications below and save the result as lego. Hence, you will overwrite the original lego object. In addition, describe the implications of removing these sets.

Your new lego (data frame) should have:

• no missing pieces

• only contain sets with a nonzero number of pieces

• no missing retail_price

• only contain sets with a nonzero retail_price

• no missing year

- Print out the shape of the dataframe after cleaning the dataset.
-

In [15]:
print(lego.shape)
lego2 = lego.dropna()
print(lego2.shape)
lego2 = lego2.loc[lego2.retail_price > 0 , :]
print(lego2.shape)

(12214, 10)
(4360, 10)
(4277, 10)

#### Question 2:	
Arrange the dataset in descending order of retail_price and print the first three rows. Report in words the names of the three most expensive lego sets, their prices, and how many pieces each has.

In [35]:
lego2.sort_values(by= 'retail_price', ascending = False).tail(3)

,id,name,themegroup,theme,subtheme,year,pieces,minifigs,package,retail_price
12083,806-2,Cowboy & Pony,Vintage themes,Samsonite,Model Maker,1964.0,87.0,0,Blister pack,0.98
12091,520-4,2 X 2 Plate (Flat Roof Bricks with 4 Studs),Vintage themes,Samsonite,Supplemental,1961.0,40.0,0,Box,0.50
12106,215-3,2 X 8 Bricks,Vintage themes,Samsonite,Supplemental,1961.0,9.0,0,Box,0.50

#### Question 3:

It appears that the most expensive sets generally have more pieces. Create a new variable (column) price_per_piece, representing the price in dollars per piece for each of the sets. Save the result as lego2. Hence, you will overwrite the current lego object.

In [43]:
lego2.loc[ lego2.theme == 'Harry Potter', :].sample(6)

#lego2 ['Price_Per_Piece' ] = lego2.retail_price / lego2.pieces
#lego2.sample(6)

,id,name,themegroup,theme,subtheme,year,pieces,minifigs,package,retail_price,Price_Per_Piece
6895,4756-1,Shrieking Shack,Licensed,Harry Potter,Prisoner of Azkaban,2004.0,444.0,4,Box,50.00,0.112613
6890,4751-1,Harry and the Marauder's Map,Licensed,Harry Potter,Prisoner of Azkaban,2004.0,109.0,3,Box,10.00,0.091743
7642,4712-1,Troll on the Loose,Licensed,Harry Potter,Philosopher's Stone,2002.0,71.0,2,Box,10.00,0.140845
7282,4720-1,Knockturn Alley,Licensed,Harry Potter,Chamber of Secrets,2003.0,209.0,2,Box,20.00,0.095694
4562,30111-1,The Lab,Licensed,Harry Potter,Mini Building Set,2011.0,34.0,1,Polybag,3.99,0.117353
4979,4738-1,Hagrid's Hut,Licensed,Harry Potter,General,2010.0,442.0,4,Box,39.99,0.090475

#### Question 4:	

Arrange the lego2 dataset in descending order of price_per_piece and return only the columns: name, themegroup, theme, pieces, price_per_piece, and the first five rows. What do you notice about these sets?

In [85]:
sorted_lego = lego2.sort_values(by = 'Price_Per_Piece', ascending = False)
sorted_lego = sorted_lego.loc[:, ['name', 'themegroup', 'theme', 'pieces', 'Price_Per_Piece'] ]
sorted_lego. head (5)

,name,themegroup,theme,pieces,Price_Per_Piece
5551,Rechargeable Battery Box,Technical,Power Functions,1.0,49.990
5553,Transformer 10V DC,Technical,Power Functions,1.0,29.990
5616,Collectable Display Set 2,Licensed,Star Wars,2.0,24.995
8694,Temperature Sensor,Technical,Mindstorms,1.0,24.000
7540,Robotics Invention System Upgrade Kit,Technical,Mindstorms,1.0,20.000

#### Question 5:

What is the mean price_per_piece for the top 40 'Toy Story' sets in terms of price_per_piece?

In [87]:
sw_avg = sorted_lego.loc [ sorted_lego.theme == 'Star Wars' , :].head(40).Price_Per_Piece.mean()
ts_avg = sorted_lego.loc [ sorted_lego.theme == 'Toy Story' , :].head(40).Price_Per_Piece.mean()
print(sw_avg)
print(ts_avg)

2.036166411264348
0.16089862892544177

#### Question 6:

What are the unique themes in the lego dataset?

In [75]:
lego2.theme.unique()

array(['Creator Expert', 'Toy Story', 'Duplo', 'Architecture',
       'Minecraft', 'Ideas', 'City', 'BrickHeadz', 'Ninjago',
       'The Lego Movie 2: The Second Part', 'Star Wars',
       'Speed Champions', 'Jurassic World', 'Marvel Super Heroes',
       'DC Comics Super Heroes', 'Classic', 'Juniors', 'Wizarding World',
       'Creator', 'Miscellaneous', 'Seasonal', 'Promotional', 'Disney',
       'Unikitty', 'Friends', 'The LEGO Ninjago Movie',
       'Collectable Minifigures', 'Nexo Knights', 'The LEGO Batman Movie',
       'Pirates of the Caribbean', 'Dimensions', 'Mixels', 'Bionicle',
       'Legends of Chima', 'Education', 'Teenage Mutant Ninja Turtles',
       'The LEGO Movie', 'The Hobbit', 'The Lord of the Rings', 'Space',
       'Mindstorms', 'Games', 'Castle', 'Monster Fighters',
       'Bricks and More', 'Cars', 'Harry Potter', 'Racers',
       'Power Functions', 'Indiana Jones', 'Pirates', 'Factory',
       'Exo-Force', 'Trains', 'Sports', 'Town', 'World City',
       'Alpha Team', 'Spider-Man', 'Bulk Bricks', 'Explore',
       'Adventurers', 'Studios', 'Western', 'Technic', 'Basic',
       'Aquazone', 'Service Packs', 'Time Cruisers', 'Assorted', 'Books',
       'Samsonite', 'LEGOLAND'], dtype=object)

In [89]:
import os
os.getcwd()

'C:\\Users\\Halsa\\Data Science Labs\\Lab 3\\lab-03-Hmalsayed863'